/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: "Noto Sans KR", sans-serif;
}
body.active {
    height: 100%;
    overflow: hidden;
}

/* 오버레이 페이지 공통 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
}
.overlay.active {
    opacity: 1;
    visibility: visible;
}
#sign_btn,
#log_btn {
    cursor: pointer;
}
.overlay_contents {
    background: #fff;
    max-width: 450px;
    margin: 70px auto;
    border-radius: 5px;
    position: relative;
}
.overlay_contents > div:first-child {
    padding: 16px 24px;
}
.overlay_contents > div:first-child p {
    font-size: 1.25em;
    font-weight: 600;
}
.overlay_contents div:first-child button {
    border: 0px;
    background: transparent;
    padding-top: 2px;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
}
.overlay_contents > div:last-child {
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user_info_input {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
    background: #edf2f7;
    border-radius: 5px;
    margin-bottom: 8px;
}
.user_info_input .icon_over {
    height: 40px;
    display: flex;
    align-items: center;
}
.user_info_input .icon_over img {
    width: 16px;
    height: 16px;
    margin: 0 auto;
}
.user_info_input input {
    background: transparent;
    border: 0;
    color: #8895a8;
}
.overlay_contents > div:last-child button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background: #3182ce;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
}
.hrbox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 32px 1fr;
    align-items: center;
    font-size: 0.75em;
    font-weight: lighter;
    text-align: center;
    color: #aebac9;
    margin: 16px 0;
}
.hrbox hr {
    opacity: 0.6;
    border-width: 0px 0px 1px;
    border-color: inherit;
}
.snsbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}
.snsbar {
    display: flex;
    width: 48%;
    margin: 5px auto;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    font-weight: 500;
    font-size: 0.875em;
    cursor: pointer;
}
.snsbar img {
    width: 40px;
    height: 100%;
}
.snsbar p {
    flex: 1;
    text-align: center;
}
.bar1 {
    border: 1px solid #000;
    color: #000;
}
.bar2 {
    border: 1px solid #f0d802;
    color: #f0d802;
}
.bar3 {
    border: 1px solid #00bf19;
    color: #00bf19;
}
.bar4 {
    border: 1px solid #dc4a38;
    color: #dc4a38;
}

/* 컨테이너 */
.inner {
    width: 100%;
}
/* 헤더 */
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background: #edf2f6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#headerContainer {
    width: 100%;
}
#headerVisible {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 65px;
}
/* btn 제이쿼리 */
#btn {
    display: flex;
    align-items: center;
}
#btn > div {
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-left: 20px;
}
#btn > div > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #257bcc;
    transition: 0.4s;
}
#btn span:first-child {
    top: 0;
}
#btn span:last-child {
    top: 80%;
}
#btn span:nth-child(2) {
    width: 80%;
    opacity: 1;
    top: 40%;
}

#btn.active span:first-child {
    transform: rotate(45deg);
    top: 50%;
}
#btn.active span:last-child {
    transform: rotate(-45deg);
    top: 50%;
}
#btn.active span:nth-child(2) {
    opacity: 0;
}

#logo_kor {
    display: none;
}
#logo {
    height: 36px;
    display: block;
    margin: 14px auto;
}
#headerVisible > div:last-child {
    display: flex;
    justify-content: end;
    align-items: center;
}
.sign_log {
    height: 32px;
    color: #257bcc;
    font-size: 1em;
    align-items: center;
    padding-top: 5px;
    margin-right: 5px;
}
#light_mode {
    display: block;
    line-height: 64px;
    padding-right: 14px;
    cursor: pointer;
}
#dark_mode {
    display: none;
}
#sign_btn {
    color: #257bcc;
}
.sign_log span:first-child {
    font-size: 22px;
    padding-right: 5px;
    margin: 0 auto;
    align-items: center;
}
.sign_log span:last-child {
    font-size: 0.875em;
    display: none;
}
#empty {
    height: 65px;
}

/* 대분류 리스트 */
.blind > ul {
    background: rgba(237, 242, 246, 0.9);
    width: 90%;
    position: fixed;
    top: -290px;
    left: 0;
    z-index: 99;
}
.blind > ul.active {
    position: fixed;
    top: 65px;
    left: 0px;
    transition: 0.4s;
}
.blind > ul > li {
    font-size: 1.25em;
    font-weight: 500;
    margin: 20px 15px;
    color: #257bcc;
}
.blind > ul > li > a {
    color: #257bcc;
}

/* 검색색션 */
section {
    height: 400px;
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    align-content: center;
}
section h1 {
    font-size: 2.1em;
    font-weight: 700;
    color: white;
    text-align: left;
}
section h3 {
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    text-align: left;
}
#searchContents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
}
#searchContents div:first-child {
    margin-bottom: 20px;
}
#search {
    width: 100%;
    margin-top: 30px;
    height: 46px;
    border: 1px solid #1b5ac2;
    border-radius: 28px;
    overflow: hidden;
    background: #ffffff;
}
#search input {
    font-size: 1.1em;
    width: 80%;
    height: 46px;
    padding-left: 25px;
    border: 0;
    outline: none;
    float: left;
}
#search button {
    border: 0;
    background: white;
    outline: none;
    margin-top: 9px;
    margin-right: 25px;
    float: right;
}
#search button:hover {
    cursor: pointer;
}
#search button img {
    width: 28px;
    height: 28px;
}
#search input:-ms-input-placeholder {
    color: #a8a8a8;
}
#search input::-webkit-input-placeholder {
    color: #a8a8a8;
}
#search input::-moz-placeholder {
    color: #a8a8a8;
}

/* 전체 캐러셀 */
h2 {
    width: 92%;
    margin: 0 auto;
    color: #3b4b9f;
    font-size: 1.5em;
    margin-top: 30px;
    text-align: center;
}
.dp_flex {
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.newItemImage {
    width: 90%;
    margin: 0 auto;
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
}
.nor_flex .newItemImage,
.nor_flex .newContents {
    width: 150px;
}
.newItemImage img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.newContents {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
    font-weight: 300;
    transition: 0.4s;
}
.newItem:hover .newItemImage img {
    transform: scale(1.1);
}
.newItem:hover .newContents p {
    color: #1b5ac2;
}
.dark_theme .newItem:hover .newContents p {
    color: #5388df;
}
.newContents p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.75em;
}
.newContents p:first-of-type {
    font-weight: 500;
    font-size: 1em;
}
.newContents p:nth-child(2) {
    color: #aaaaaa;
}
.newContents p:last-of-type {
    font-size: 0.9em;
}

/* 베스트 셀러*/
#Bestseller .newItem {
    height: 280px;
}
#Bestseller .newItem .newRank {
    position: relative;
    width: 230px;
    margin: 0 auto;
}
#Bestseller .newItem .newItemNum {
    position: absolute;
    top: 0;
    left: 23px;
    height: 195px;
    line-height: 210px;
    font-size: 10em;
    color: white;
    text-shadow: -2px 0px #3182ce, 0px 2px #3182ce, 2px 0px #3182ce,
    0px -2px #3182ce;
}
#Bestseller .newItem:nth-child(15) .newItemNum {
    left: 10px;
    letter-spacing: -35px;
}
#Bestseller .newItemImage {
    position: absolute;
    width: 130px;
    height: 200px;
    top: 0;
    left: 90px;
    z-index: 9;
}
#Bestseller .newContents {
    width: 200px;
    margin: 215px auto;
    text-align: left;
}

/* 블로그 */
#Blog {
    background-image: url("https://images.unsplash.com/photo-1513185041617-8ab03f83d6c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 1650px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
}
.Blog_bgcover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.7;
}
.Blog_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    z-index: 2;
    color: #1a202c;
}
.Blog_intro {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.Blog_intro div:nth-child(1) p {
    font-size: 2.5em;
    font-weight: bold;
}
.Blog_intro > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 48px;
    width: 90%;
}
.Blog_intro > div:nth-child(2) p:first-child {
    color: #2b6cb0;
    font-weight: 500;
}
.Blog_intro > div:nth-child(2) p:last-child {
    margin-top: 8px;
    font-size: 1.75em;
    font-weight: 600;
    letter-spacing: 1px;
}
.Blog_intro div:nth-child(3) button {
    margin-top: 48px;
    padding: 0 24px;
    display: inline-flex;
    justify-content: center;
    height: 48px;
    border-radius: 8px;
    align-items: center;
    background: #3182ce;
    font-size: 1.125em;
    font-weight: 600;
    color: #fff;
    border: 0;
}
.Blog_intro div:nth-child(3) button:hover {
    background: #2b6cb0;
}
.Blog_intro div:nth-child(3) button span {
    display: none;
}
.Blog_contents > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.blog_card {
    width: 260px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 32px;
}
.blog_card:hover .blog_img img {
    transform: scale(1.1);
}
.blog_card:hover .blog_txt {
    color: #3d62ad;
}
.blog_img {
    width: 260px;
    height: 188px;
    overflow: hidden;
    object-fit: cover;
}
.blog_img img {
    width: 100%;
    height: auto;
    transition: 0.4s;
}
.blog_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 160px;
    padding: 16px;
    color: #3b424e;
    font-weight: lighter;
    letter-spacing: 1px;
    transition: 0.4s;
}
.blog_txt p {
    line-height: 1.1em;
}
.blog_txt p:first-child {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 8px;
}
.blog_txt p:last-child {
    margin-top: 12px;
    font-size: 0.75em;
    letter-spacing: 0;
}

/* 이벤트 */
#Event {
    background: #3b4b9f;
}
#Event h2 {
    padding-top: 60px;
    padding-left: 45px;
    color: white;
}
#Eventsel {
    cursor: pointer;
}
#Eventsel .newItemImage {
    width: 210px;
    margin: 0 auto;
    height: 140px;
}
#Eventsel .newContents {
    width: 210px;
    color: white;
    margin-top: 10px;
}
#Eventsel .newContents p:first-child {
    font-size: 1.2em;
    color: #fff;
}
#Eventsel .newContents p:last-child {
    font-size: 0.9em;
    color: #fff;
}
#Eventbottom {
    height: 50px;
}

/* 블로그 베스트 */
#BlogBest {
    margin-bottom: 40px;
}

/* 푸터 */
footer {
    background: #edf2f6;
    padding-bottom: 40px;
    color: #257bcc;
    font-weight: lighter;
    font-size: 0.75em;
}
.footer_container {
    max-width: 1300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_container img {
    width: 80px;
    margin: 40px auto;
    margin-bottom: 16px;
}
.footer_container p {
    margin: 5px 0;
}
.footer_pc {
    display: none;
}
.footer_flex0 {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.footer_flex1 {
    width: 120px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.1em;
}
.footer_flex2 {
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 1.1em;
}
.footer_flex3 {
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.footer_pc_flex {
    padding-top: 24px;
}

/* 다크모드 css */
.dark_theme {
    background: #1a202c;
    color: #a4d1d9;
}
.dark_theme #light_mode {
    display: none;
}
.dark_theme #dark_mode {
    display: block;
    line-height: 64px;
    padding-right: 14px;
    cursor: pointer;
    color: #fff;
}
.dark_theme h2 {
    color: #a4d1d9;
}
.dark_theme header {
    background: #2d3748;
}
.dark_theme #Bestseller .newItemNum {
    text-shadow: -2px 0px #a4d1d9, 0px 2px #a4d1d9, 2px 0px #a4d1d9,
        0px -2px #a4d1d9;
}
.dark_theme .newContents p {
    color: #a4d1d9;
}
.dark_theme .newContents p:first-child {
    color: #daf4f9;
}
.dark_theme footer {
    background: #1a202c;
    border-top: 1px solid #a4d1d9;
    color: #a4d1d9;
}
.dark_theme .blind ul li a {
    color: #90cdf4;
}
.dark_theme #sign_btn span {
    color: #90cdf4;
    font-weight: 500;
}
.dark_theme #log_btn {
    color: #90cdf4;
    font-weight: 500;
}

/* 미디어 쿼리 */
@media screen and (max-width: 448px) {
    /* 오버레이 공통 */
    .none_448 {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    /* 헤더 로그인 버튼 */
    #headerVisible {
        grid-template-columns: 3fr 2fr 3fr;
    }
    .sign_log {
        border-radius: 8px;
        border: 1px solid #257bcc;
        padding-left: 10px;
        padding-top: 0;
        display: flex;
        box-sizing: content-box;
        margin-right: 8px;
    }
    #sign_btn {
        background: #257bcc;
        color: #edf2f6;
    }
    .sign_log span:first-child {
        font-size: 20px;
        padding-right: 5px;
    }
    .sign_log span:last-child {
        display: inline-block;
        margin-right: 10px;
    }
    #logo {
        display: none;
    }
    #logo_kor {
        height: 32px;
        display: block;
        margin: 16px auto;
    }
    section {
        height: 300px;
    }
    h2 {
        padding-left: 20px;
        text-align: left;
    }

    /* 블로그 */
    #Blog {
        height: 1300px;
    }
    .Blog_intro {
        width: 80%;
        align-items: center;
        margin-bottom: 100px;
    }
    .Blog_intro div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Blog_intro div:nth-child(3) button span {
        display: inline-block;
    }
    .Blog_contents > div:last-child {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    .blog_card {
        width: 100%;
        height: 220px;
        flex-direction: row;
    }
    .blog_img {
        width: 200px;
        height: 220px;
    }
    .blog_img img {
        width: auto;
        height: 100%;
    }
    .blog_txt {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* 다크모드 */
    .dark_theme .sign_log {
        border: 1px solid #90cdf4;
    }
    .dark_theme #sign_btn {
        background: #90cdf4;
    }
    .dark_theme #sign_btn span {
        color: #1a202c;
    }

    /* 푸터 768 */
    .footer_flex0 { 
        width: 270px;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer_flex2 {
        width: 360px;
        flex-direction: row;
        justify-content: center;
    }
    .footer_flex2 p:first-child {
        margin-right: 15px;
    }
    .footer_flex3 {
        width: 300px;
    }
    .footer_mobile {
        display: none;    
    }
}
@media screen and (min-width: 960px) {
    section {
        height: 360px;
    }
    #searchContents {
        padding: 30px 40px;
    }
    #headerVisible {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 65px;
    }
    /* 토글 메뉴 */
    #btn {
        display: none;
    }
    #logo_kor {
        margin: 14px 50px;
    }
    .blind {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 450px;
    }
    .blind > ul {
        transition: none;
        background: none;
        width: 100%;
        position: unset;
        display: flex;
    }
    .blind > ul > li {
        font-size: 1em;
        margin: 20px 15px;
    }

    /* 푸터 960 */
    .footer_pc {
        display: inline-block;
    }
    .footer_flex3 {
        width: 768px;
    }

    /* 블로그 */
    #Blog {
        height: 930px;
    }
    .Blog_contents {
        padding-bottom: 10px;
    }
    .Blog_contents > div:last-child {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    .blog_card {
        width: auto;
        height: 348px;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .blog_img {
        width: 260px;
        height: 188px;
    }
    .blog_img img {
        width: 100%;
        height: auto;
    }
    .blog_txt {
        width: 260px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (min-width: 1200px) {
    #searchContents {
        max-width: 1200px;
    }
    h2 {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 48px;
    }
    .dp_flex {
        max-width: 1200px;
        padding: 40px 0;
    }

    /* 푸터 1200 */
    .footer_pc_flex {
        display: flex;
        width: 1000px;
        justify-content: center;
    }
    .footer_pc_flex p {
        margin-right: 10px;
    }
    .footer_flex0 {
        width: auto;
        margin: 0;
    }
    .footer_flex0 {
        width: auto;
    }
    .footer_flex1 {
        width: auto;
    }
    .footer_flex2 {
        width: auto;
    }
    .footer_flex3 {
        width: 780px;
        justify-content: space-around;
    }
}
@media screen and (min-width: 1300px) {
    /* 컨테이너 */
    .inner {
        max-width: 1300px;
        margin: 0 auto;
    }
    #headerContainer {
        max-width: 1300px;
        margin: 0 auto;
    }
    /* 블로그 */
    #Blog {
        height: 470px;
    }
    .Blog_contents {
        flex-direction: row;
        justify-content: space-between;
    }
    .Blog_intro {
        width: 25%;
        align-items: flex-start;
        margin-bottom: 0;
    }
    .Blog_intro div:nth-child(2) {
        align-items: flex-start;
        text-align: left;
    }
    .Blog_intro div:nth-child(2) {
        align-items: flex-start;
    }
    .Blog_contents > div:last-child {
        width: 70%;
        justify-content: space-between;
    }
}
